In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np

In [2]:
train = pd.read_csv('../input/61bc6d6c-9-dataset/dataset/train.csv')
test  = pd.read_csv('../input/61bc6d6c-9-dataset/dataset/test.csv')
sample = pd.read_csv('../input/61bc6d6c-9-dataset/dataset/Sample_Submission.csv')

In [3]:
y = train['Price']

In [4]:
y = train['Price']

train = train.drop(['Price'],axis =1)

In [5]:
aa = ['SMA', 'EMA', 'WMA', 'DEMA', 'TEMA', 'TRIMA', 'KAMA', 'FAMA', 'MAMA',
       'T3', 'MACD', 'MACD_Hist', 'MACD_Signal', 'MAC', 'MACDHist',
       'MAC_Signal', 'SlowD', 'SlowK', 'FastD', 'FastK', 'RSI', 'FatD', 'FatK',
       'WILLR', 'ADX', 'ADXR', 'APO', 'PPO', 'MOM', 'BOP', 'CCI', 'CMO', 'ROC',
       'ROCR', 'MFI', 'TRIX', 'ULTOSC', 'DX', 'MINUS_DI', 'PLUS_DI',
       'MINUS_DM', 'PLUS_DM', 'Real Lower Band', 'Real Middle Band',
       'Real Upper Band', 'MIDPOINT', 'MIDPRICE', 'SAR', 'TRANGE', 'ATR',
       'NATR', 'ADOSC', 'HT_TRENDLINE', 'LEAD SINE', 'SINE', 'DCPERIOD',
       'HT_DCPHASE', 'PHASE', 'QUADRATURE']

In [6]:
a = ['SMA', 'EMA', 'WMA', 'DEMA', 'TEMA', 'TRIMA', 'KAMA', 'FAMA', 'MAMA',
       'T3', 'MACD', 'MACD_Hist', 'MACD_Signal', 'MAC', 'MAC_Hist',
       'MAC_Signal', 'SlowD', 'SlowK', 'FastD', 'FastK', 'RSI', 'FatD', 'FatK',
       'WILLR', 'ADX', 'ADXR', 'APO', 'PPO', 'MOM', 'BOP', 'CCI', 'CMO', 'ROC',
       'ROCR', 'Aroon Down', 'Aroon Up', 'AROONOSC', 'MFI', 'TRIX', 'ULTOSC',
       'DX', 'MINUS_DI', 'PLUS_DI', 'MINUS_DM', 'PLUS_DM', 'Real Lower Band',
       'Real Middle Band', 'Real Upper Band', 'MIDPOINT', 'MIDPRICE', 'SAR',
       'TRANGE', 'ATR', 'NATR', 'Chaikin A/D', 'ADOSC', 'OBV', 'HT_TRENDLINE',
       'LEAD SINE', 'SINE', 'TRENDMODE', 'DCPERIOD', 'HT_DCPHASE', 'PHASE',
       'QUADRATURE']

In [7]:
train.dtypes

ID                    int64
Date                 object
Company              object
SMA                 float64
EMA                 float64
WMA                 float64
DEMA                float64
TEMA                float64
TRIMA               float64
KAMA                float64
FAMA                float64
MAMA                float64
T3                  float64
MACD                float64
MACD_Hist           float64
MACD_Signal         float64
MAC                 float64
MAC_Hist            float64
MAC_Signal          float64
SlowD               float64
SlowK               float64
FastD               float64
FastK               float64
RSI                 float64
FatD                float64
FatK                float64
WILLR               float64
ADX                 float64
ADXR                float64
APO                 float64
                     ...
Aroon Up            float64
AROONOSC            float64
MFI                 float64
TRIX                float64
ULTOSC              float64
DX                  float64
MINUS_DI            float64
PLUS_DI             float64
MINUS_DM            float64
PLUS_DM             float64
Real Lower Band     float64
Real Middle Band    float64
Real Upper Band     float64
MIDPOINT            float64
MIDPRICE            float64
SAR                 float64
TRANGE              float64
ATR                 float64
NATR                float64
Chaikin A/D         float64
ADOSC               float64
OBV                 float64
HT_TRENDLINE        float64
LEAD SINE           float64
SINE                float64
TRENDMODE           float64
DCPERIOD            float64
HT_DCPHASE          float64
PHASE               float64
QUADRATURE          float64
Length: 68, dtype: object

In [8]:
for _ in a:
    if True:
        train[_]=train[_].fillna(np.mean(train[_]))
    
for _ in aa:
    if True:
        test[_]=test[_].astype(int)
for _ in a:
    if True:
        train[_]=train[_].astype(int)

In [9]:
train.dtypes

ID                   int64
Date                object
Company             object
SMA                  int64
EMA                  int64
WMA                  int64
DEMA                 int64
TEMA                 int64
TRIMA                int64
KAMA                 int64
FAMA                 int64
MAMA                 int64
T3                   int64
MACD                 int64
MACD_Hist            int64
MACD_Signal          int64
MAC                  int64
MAC_Hist             int64
MAC_Signal           int64
SlowD                int64
SlowK                int64
FastD                int64
FastK                int64
RSI                  int64
FatD                 int64
FatK                 int64
WILLR                int64
ADX                  int64
ADXR                 int64
APO                  int64
                     ...
Aroon Up             int64
AROONOSC             int64
MFI                  int64
TRIX                 int64
ULTOSC               int64
DX                   int64
MINUS_DI             int64
PLUS_DI              int64
MINUS_DM             int64
PLUS_DM              int64
Real Lower Band      int64
Real Middle Band     int64
Real Upper Band      int64
MIDPOINT             int64
MIDPRICE             int64
SAR                  int64
TRANGE               int64
ATR                  int64
NATR                 int64
Chaikin A/D          int64
ADOSC                int64
OBV                  int64
HT_TRENDLINE         int64
LEAD SINE            int64
SINE                 int64
TRENDMODE            int64
DCPERIOD             int64
HT_DCPHASE           int64
PHASE                int64
QUADRATURE           int64
Length: 68, dtype: object

In [10]:
train['Date'] = pd.to_datetime(train['Date'])
train['ID'] = train['ID'].astype(int)

In [11]:
train.set_index('ID', inplace = True)

In [12]:
id = test['ID']
test = test.drop(['ID'],axis = 1)

In [13]:
train = pd.get_dummies(train , columns = ['Company '])

In [14]:
train['Company _ABC']= train['Company _ABC'].astype(int)
train['Company _DEF']  = train['Company _DEF'].astype(int)
train['Company _GHI']  = train['Company _GHI'].astype(int)

In [15]:
test  = pd.get_dummies(test  , columns  = ['Company '])

In [16]:
test = test.drop(['Date'],axis = 1)
train = train.drop(['Date'],axis = 1)

In [17]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [18]:
bestfeatures = SelectKBest(score_func=chi2, k=10)

In [19]:
from sklearn.ensemble import RandomForestRegressor 
from sklearn.model_selection import cross_val_score

In [20]:
RF=RandomForestRegressor(random_state=1)
RF.fit(train, y)

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=1, verbose=0,
                      warm_start=False)

In [21]:
pred = RF.predict(test)

In [22]:
pred

array([561.82934, 382.516  ,  39.31   , ..., 198.787  , 663.7956 ,
       131.607  ])

In [23]:
submit = pd.DataFrame(columns = ['ID' , 'Price'])

In [24]:
submit['ID']  = id
submit['Price'] =  pred

In [25]:
submit.head()

      ID      Price
0  12001  561.82934
1  12002  382.51600
2  12003   39.31000
3  12004  561.34919
4  12005  381.60600

In [26]:
sample.shape  == submit.shape

True

In [27]:
submit.to_csv('stock_prices.csv')